<ion-header>
  <ion-navbar>
    <!-- <img src="./assets/icon/logo_ml.png" alt=""/> -->

    <ion-buttons start>
      <button ion-button icon-only>
                  <img src="./assets/icon/logo_ml.png" style="height: 45px;"/>
      </button>
    </ion-buttons>
    <ion-title>
      MercadoSearch @yoinergomez
    </ion-title>


  </ion-navbar>
  <ion-searchbar [(ngModel)]="query" (ngModelChange)='autosuggestItems($event)' showCancelButton  (change)="autosuggestItems($event)" autocorrect="off"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of suggestItems">
      {{ item.q }}
    </ion-item>
  </ion-list>
</ion-header>


<ion-content padding>
  <button ion-button block (click)="searchItem('xxx')">Search item</button>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of items">
        <ion-card>
          <ion-card-content color="primary">
            <img [src]="item.thumbnail" alt="" />
            <p color="dark">
              <ion-card-title text-center>
                {{item.title}}
              </ion-card-title>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>