<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only>
        <img src="./assets/icon/logo_ml.png" style="height: 45px;"/>
      </button>
    </ion-buttons>
    <ion-title>
      MercadoSearch <small><strong>@yoinergomez</strong></small>
    </ion-title>
  </ion-navbar>


  <div style="display: -webkit-inline-box; width: 100%; margin:auto;">
    <ion-searchbar [(ngModel)]="query" (ngModelChange)='autosuggestItems($event)' (change)="autosuggestItems($event)" autocorrect="off"
      autocomplete="off" placeholder="I'm shopping for..." animated="true" style="width: 83%;">
    </ion-searchbar>
    <button ion-button icon-only style="margin-top: 11px;" (click)='searchItem(query)'>
      <ion-icon name="search"></ion-icon>
    </button>
  </div>


  <ion-list *ngIf='showList'>
    <ion-item *ngFor="let item of suggestItems" (click)='searchItem(item.q)'>
      {{ item.q }}
    </ion-item>
  </ion-list>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let item of items">
        <ion-card>
          <ion-card-content color="primary">
            <img [src]="item.thumbnail" alt="" />
            <ion-card-title text-center>
              {{item.title}}
            </ion-card-title>
            <div style="display: -webkit-inline-box; width: 100%; margin:auto;">
              <h1 style="color: green;"><strong>$ </strong> {{item.price}}</h1>
              <div style="position: absolute; right: 0px; width: 80px; display: -webkit-inline-box;">
                <ion-icon name='cart' item-start style="color: green;"></ion-icon>
                <ion-badge item-end style="background-color:#ffdb15; color:grey">{{item.sold_quantity}}</ion-badge>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>